body {
    background-image:url("demdyla-5c43f79c-b70a-4fd7-bf23-848883140ae6.gif");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: rgb(164, 216, 146);
    font-weight: bold;
    margin-left: 40%;
    margin-top: 15%;
  }