<div
    style="color: rgb(255, 255, 255); background-color: rgb(250, 131, 51); text-align: center; justify-content: space-around; margin-top: 1%;">
    <button (click)="buscarFilmes()">Buscar filmes</button>
    <button (click)="filmeBemAvaliado()">Buscar filme mais bem avaliado</button>
    <br>
    <span *ngIf="carregando">CARREGANDO...</span>
    <span *ngIf="!carregando">FILMES CARREGADOS!</span>


    <br>
    <button *ngIf="indiceFilme != 2" (click)="proximo()">Próximo</button>
    <button *ngIf="indiceFilme != 0" (click)="anterior()">Anterior</button>

    <p>{{ filmeAtual?.nomeFilme }}</p>

</div>