body {
  background-image:url("1563873613057.jpg");
  margin: 0;
  padding: 0;
  color: black;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
}

header>.logo {
  display: flex;
  align-items: center;
  margin-bottom: 1%;
  color: blueviolet;
}

header>.logo>img {
  width: 15%;
  margin-left: 1%;
  margin-top: 1%;
  box-shadow: 5px 5px rgb(85, 86, 88);
  border-radius: 5px;
  margin-right: 10px;
}

header nav {
  display: flex;
  align-items: center;
  padding-right: 8px;
}

header nav a+a {
  margin-left: 16px;
}

#Sobre {
  display: flex;
}

#Sobre .parte1 {
  width: 50%;
  background-color: rgb(216, 194, 218);
  min-width: 200px;
  min-height: 200px;
  border-radius: 6px;
  box-shadow: 5px 5px rgb(1, 18, 18);
}

#Sobre .parte2 {
  width: 50%;
  background-color: rgb(216, 194, 218);
  min-width: 200px;
  min-height: 200px;
  border-radius: 6px;
  box-shadow: 5px 5px rgb(1, 18, 18);
  margin-left: 5px;
}

#Sobre .parte2 {
  display: flex;
}

.parte1 img {
  width: 30%;
  margin-left: 1%;
  box-shadow: 3px 3px;
  border-radius: 5px;
}

.parte2 img {
  width: 25%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 3px 3px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  header nav {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  header nav a+a {
    margin-left: unset;
  }
}

/* Auxilio para visualização das seções */
#Oportunidades,
#Metodologia,
#Ementa,
#Projetos,
#Depoimentos,
#Duvidas,
Footer {
  min-width: 250px;
  min-height: 250px;
}

#Oportunidades {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

#Oportunidades .card1 {
  width: 33%;
  background-color: rgb(216, 194, 218);
  border-radius: 6px;
  box-shadow: 5px 5px rgb(1, 18, 18);
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: justify;
}

#Oportunidades .card2 {
  width: 33%;
  background-color: rgb(216, 194, 218);
  border-radius: 6px;
  box-shadow: 5px 5px rgb(1, 18, 18);
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: justify;
}

#Oportunidades .card3 {
  width: 33%;
  background-color: rgb(216, 194, 218);
  border-radius: 6px;
  box-shadow: 5px 5px rgb(1, 18, 18);
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: justify;
}

#Metodologia {
  background-color: rgb(216, 194, 218);
  list-style: circle;
  min-width: 225px;
  min-height: 225px;
  border-radius: 6px;
  box-shadow: 5px 5px rgb(1, 18, 18);
  margin-bottom: 5px;
  text-align: justify;
}

#Ementa {
  background-color: rgb(216, 194, 218);
  min-width: 200px;
  min-height: 280px;
  border-radius: 6px;
  box-shadow: 5px 5px rgb(1, 18, 18);
  margin-bottom: 5px;
  text-align:center;
}

table,
th,
td {
  border: 1px solid black;
  margin-left: 250px;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 8px 40px;
}

tr:nth-child(even) {
  background-color: #ce93f4;
}

#ProjetoA {
  background-color: rgb(95, 15, 223);
  min-width: 50px;
  min-height: 50px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-left: 150px;
  text-align: center;
}

#Projetos .Divi1 {
  background-color: rgb(95, 15, 223);
  min-width: 200px;
  min-height: 200px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: -8px 5px rgb(1, 18, 18);
  margin-bottom: 5px;
  margin-left: 150PX;
  display: flex;
  text-align: justify;
}

#ProjetoB {
  background-color: rgb(95, 15, 223);
  min-width: 50px;
  min-height: 50px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-right: 150px;
  text-align: center;
}

#Projetos .Divi2 {
  background-color: rgb(95, 15, 223);
  min-width: 200px;
  min-height: 200px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 8px 5px rgb(1, 18, 18);
  margin-bottom: 5px;
  margin-right: 150PX;
  display: flex;
  text-align: justify;
}

#ProjetoC {
  background-color: rgb(95, 15, 223);
  min-width: 50px;
  min-height: 50px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-left: 150px;
  text-align: center;
}

#Projetos .Divi3 {
  background-color: rgb(95, 15, 223);
  min-width: 200px;
  min-height: 200px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: -8px 5px rgb(1, 18, 18);
  margin-bottom: 15px;
  margin-left: 150PX;
  display: flex;
  text-align: justify;
}
#Depoimentos {
  display: flex;
  justify-content: space-between;
  min-width: 200px;
  min-height: 200px;
  border-radius: 6px;
  box-shadow: 5px 5px rgb(1, 18, 18);
  margin-bottom: 5px;
}

#Depoimentos .Depo01 {
  background-color: rgb(216, 194, 218);
  min-width: 380px;
  min-height: 200px;
  border-radius: 6px;
  box-shadow: 5px 5px rgb(1, 18, 18);
  margin-bottom: 5px;
}
#Depoimentos .Depo02 {
  background-color: rgb(216, 194, 218);
  min-width: 380px;
  min-height: 200px;
  border-radius: 6px;
  box-shadow: 5px 5px rgb(1, 18, 18);
  margin-bottom: 5px;
}
#Depoimentos .Depo03 {
  background-color: rgb(216, 194, 218);
  min-width: 380px;
  min-height: 200px;
  border-radius: 6px;
  box-shadow: 5px 5px rgb(1, 18, 18);
  margin-bottom: 5px;
}

#Duvidas {
  background-color: rgb(216, 194, 218);
  min-width: 200px;
  min-height: 200px;
  border-radius: 6px;
  box-shadow: 5px 5px rgb(1, 18, 18);
  margin-bottom: 5px;
}

Footer {
  display: flex;
}

Footer {
  background-color: rgb(216, 194, 218);
  min-width: 200px;
  min-height: 200px;
  border-radius: 6px;
  box-shadow: 5px 5px rgb(1, 18, 18);
  margin-bottom: 5px;
}